Body{
    background:hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

img{
    display: block;
    width: 100%;
    border-radius: 12px;
}
.container{
display: block;
background-color: #fff;
border-radius:20px;
text-align: center;
margin: 3rem 35rem 10rem 35rem;
padding: 10px 15px;
}


h1, p{
    text-align: center;
   }

h1{
    font-size: 30px;
    color: hsl(218, 44%, 22%) ;
}

p{
    font-size: 20px;
    color: hsl(220, 15%, 55%);
}
.attribution{
  text-align: center;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
